.myContainer{
    margin-top: 10%;
    padding: 10px;
    border: none;
    border-radius: 8px;

    background-color: rgb(230, 238, 245);
}
.searchArea input{
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(202, 202, 202);
    padding: 7px;
    font-size: larger;
    background-color: rgb(230, 238, 245);
    max-width: 240px;
    margin: 5px 0;
}
.searchArea button{
    border: none;
    outline: line;
    padding: 10px 15px;
    color: white;
    background-color: rgb(51, 82, 51);
    border-radius: 3px;
    margin: 5px 0;
}
.wordInfo{
    margin-top: 50px;
}
.wordInfo img{
    width: 24px;
    height: 24px;
}
.eachMeaning{
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 16px lightgray;
    background-color: rgb(255, 250, 245);
}
.special{
    font-weight: 200;
}